html {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
*::before,
::after {
  box-sizing: inherit;
}
body {
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 auto;
  background: #dba8d9;
}
header,
span,
nav,
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.movie {
  margin-right: 10rem;
  font-size: 2rem;
}
.hub {
  animation: text 3s 1;
}

a {
  text-decoration: none;
}
nav {
  margin-right: 3rem;
}
li {
  margin-left: 3rem;
}
.cart {
  margin: auto;
  margin-right: 4rem;
}
.zero {
  width: 20px;
  height: 20px;
  background: #01b901;
  align-content: center;
  justify-content: center;
  border-radius: 20px;
}
.bottom {
  display: flex;
}
main {
  width: 100vw;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}
.grad {
  width: 200px;
  height: 300px;
  background-image: url(/images/grad.jpg);
  background-position: center;
  margin-left: 50rem;
  border-radius: 100px;
  visibility: 0.2;
}
.middle {
  display: flex;
  margin-top: 5rem;
  background-image: url(/images/do\ something\ great.jpg);
  background-position: center;
  opacity: 1;
  background-attachment: fixed;
}
.text {
  display: flex;
  width: 200px;
  font-size: 3rem;
  color: #0f021b;
  text-shadow: #dba8d9 1px 1px 10px;
  text-shadow: #dba8d9 1px 1px 10px;
  text-shadow: #dba8d9 1px 1px 10px;
  text-shadow: #dba8d9 1px 1px 10px;
  text-shadow: #dba8d9 1px 1px 10px;
  text-shadow: #dba8d9 1px 1px 10px;
  text-shadow: #dba8d9 1px 1px 10px;
  text-shadow: #dba8d9 1px 1px 10px;
}
.bigger {
  width: 400px;
  height: 60px;
  border: #000 solid 2px;
  border-radius: 30px;
}
.smaller {
  width: 98%;
  height: 50px;
  border: #000 solid 2px;
  border-radius: 30px;
  display: ruby-base-container;
  position: relative;
  margin-left: 2px;
  margin-top: 3px;
}
.smaller > p {
  display: flex;
  text-align: center;
  color: #110034;
  margin-left: 10px;
}
.first-bottom {
  width: calc(100vw / 3);
  height: 400px;
}
.second-bottom {
  width: calc(100vw / 3);
  height: 400px;
}
.third-bottom {
  width: calc(100vw / 3);
  height: 400px;
}

@keyframes text {
  0% {
    transform: rotateX(20%);
  }
  50% {
    transform: rotateX(20%);
  }
  75% {
    transform: rotateX(40%);
  }
  100% {
    transform: rotateX(20%);
  }
}
